.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotation 1s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.headingSection{
  display: flex;
  justify-content: space-between;align-items: center;
}
.scroll{
  text-align: center;
}
.scrollLoadings{
  animation: rotation 1s infinite linear;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
}

@media (max-width: 1600px) {
  .wrapper {
    margin: 0 -15px;
  }
}
@media (max-width: 1199px) {
  .wrapper {
    margin: 0 -10px;
  }
}
@media (max-width: 991px) {
  .wrapper {
    justify-content: space-between;
  }
}
@media (max-width: 575px) {
  .wrapper {
    margin: 0;
  }
  .headingSection{
    flex-direction: column;
    margin-bottom: 20px;
    align-items: flex-start;
  }
}
