header {
  background-color: #151213e0;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}
ul.desk {
  display: flex;
  align-items: baseline;
  list-style: none;
}
li {
  padding: 0 30px;
}
.link {
  text-decoration: none;
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
  font-family: math;
}

sup {
  background-color: lightgray;
  padding: 0 5px;
  border-radius: 100%;
  font-size: 18px;
  color: black;
  font-weight: 600;
}

ul.mobile {
  display: none;
}
.hamburger {
  display: none;
}

@media (max-width: 1600px) {
  .container {
    max-width: 1300px;
  }
}
@media (max-width: 1399px) {
  .container {
    max-width: 1100px;
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: 1000px;
  }
  li {
    padding: 0 25px;
  }
  .link {
    font-size: 25px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 767px;
  }
  li {
    padding: 0 18px;
  }
  .link {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  header {
    padding: 30px 0;
  }
  ul.desk {
    display: none;
  }
  ul.show {
    display: block;
    position: absolute;
    top: 145%;
    left: -20px;
    background-color: #151213e0;
    height: 100vh;
    width: 100%;
    list-style: none;
    padding: 40px 20px 0;
  }

  ul.hide {
    display: none;
  }
  li {
    padding: 10px 0;
  }
  .link {
    text-decoration: none;
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
  }
  .hamburger {
    display: block;
  }
  .close {
    display: block;
    position: relative;
  }
  .line1::before {
    content: "";
    width: 40px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 35%;
    right: 0;
    transition: all 0.5s;
  }
  .line2::before {
    content: "";
    width: 40px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 65%;
    right: 0;
    transition: all 0.5s;
  }
  .activeLine1::before {
    content: "";
    width: 40px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 50%;
    right: 0;
    transform: rotate(45deg);
    transition: all 0.5s;
  }
  .activeLine2::before {
    content: "";
    width: 40px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 50%;
    right: 0;
    transform: rotate(135deg);
    transition: all 0.5s;
  }
}
